<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8"/>
	<title>1758个人主页</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">    
    <meta name="apple-mobile-web-app-capable" content="no"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="cache" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <link rel="apple-touch-icon" href="http://images.1758.com/image/20161024/open_1_8c3d991aa83e5885fe54a25245a646f8.jpg" sizes="152x152">
    <link rel="shortcut icon "  href="http://images.1758.com/images/48.ico">
	<link rel="stylesheet" type="text/css" href="http://wx.1758.com/static/common/css/dropload.css"/>
	<link rel="stylesheet" type="text/css" href="http://wx.1758.com/static/common/css/hweui.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://wx.1758.com/static/m/dist/user/css/user_1_2_5-3a423eee33.css"/>
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?f015d1f0590f019aa3c557b28c5f427a";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
<script>
		var sid = 'c7a33327af43ef861ca6d6ce856b3555';
		var isHost = true;
	</script>
	<style type="text/css">
		.user-id{padding:0}.inner-id{padding:5px}.weui_mask{z-index:10}.weui_dialog_bd{line-height:25px}.modal-encorage{color:#18a3e3;text-decoration:underline}.modal-left{margin-top:0;text-align:left}.colorred{color:red}.checkin-wrapper{padding:0 8px}
	</style>
</head>

<body>
<style type="text/css" media="screen">
	.base-head{line-height:46px;height:46px;background-color:#fff}.head-menu{padding:0;position:relative;text-align:center}.head-menu .head-index{position:absolute;left:6px;padding:0 10px}.head-index img{width:20px;vertical-align:middle}.head-menu .head-icon img{width:100px;vertical-align:middle}.head-menu .head-dowload{position:absolute;right:0;background-color:#5bbd2a}.head-menu .sj-icon{width:14px;vertical-align:middle;padding:0 3px 2px 0}.head-dowload a{color:#fff;text-decoration:none;display:inline-block;height:100%;padding:0 5px;font-size:12px;cursor:pointer}
</style>


<header id="headContent" class="base-head">
	<div class="head-menu">
		<span class="head-icon"><a href="/play/index"><img src="http://wx.1758.com/game/h5/images/head-icon.png"></a></span>
		<span class="head-dowload"><a href="/static/m/follow/follow.html">
			<img class="sj-icon" src="http://images.1758.com/image/20160825/open_1_6164b7b439c2799559c76e4d72130c3c.gif">关注 | 安装
		</a></span>
	</div>
</header>



<script>
if(hlmy.userTerminal()=="weixin"||hlmy.userTerminal()=="others"){
	document.getElementById("headContent").style.display = "block";
}else{
	document.getElementById("headContent").style.display = "none";
}
</script>

	
	<section class="user-info my">
		<div class="inner-user-info">
			
			<div id="userId" class="user-id gone">
				<div class="inner-id">
					ID:<span></span>
				</div>
			</div>
			<div id="user-img" class="user-img">
				<div class="head-wrapper">
					
					<img src="http://wx.qlogo.cn/mmopen/Q3auHgzwzM5xciaXhVypOz2FM6amj9Zn8yZATSWeibFkx4MCiaEK4XFwWchIVxRRfZMvbcicH97pFo61vSYxOCibCAA/0" alt="用户头像">
					<a class="u-profile" href="./profile?tp=full&ex1758=1">
						<div class="avatar"><%=userPostInfo.postMobile%></div>
					</a>
					
				</div>
				<div id="userMess" class="user-message gone">
					<div class="inner-u-message">
						<a href="/play/message/inbox/index?tp=full&ex1758=1">
							<img src="http://images.1758.com/daren/usermessage.png" />
							<p id="messNew" class="message-new gone">●</p>
						</a>
					</div>
				</div>
				<div id="userMessCount" class="user-message mess-count">
					<div class="inner-u-message">
						<a href="/play/message/inbox/index?tp=full&ex1758=1" >
							<img id="messUserImg" src="">
							<span class="countWrapper"><span id="messCount" class=""><%=userPoints%></span> 积分</span>
						</a>
					</div>
				</div>
				<div class="user-rmb">
					<img src="http://images.1758.com/images/1758bi.png"/>
					<span id="user-rmb-count">0</span>
				</div>
			</div>
			<div class="user-name">
				<span id="user-name" class="u-name">李乾@1758</span>
				<span class="user-sex">
					
						 	<img id="sex" src="http://images.1758.com/game/m/woman.png"/>
						
				</span>
				
					<a href="./profile?tp=full&ex1758=1"><span class="user-level">VIP2</span></a>
				
				<!-- VIP等级2
				经验等级29
				距离升级所需经验188 -->
			</div>
			
			<a class="exp-wrapper" href="./profile?tp=full&ex1758=1"><div id='userExp' class="user-exp" data-value='29'></div></a>
			
			
			<div id="user-set" class="user-set">
				<div id="checkWrapper" class="checkin-wrapper">
					
						<img id='checkIn' class="checkin ac-ch" src="http://images.1758.com/image/20161202/open_104818_d16c1d4ce20b131e15b587ce847ec3ae.png" alt="签到">
					
				</div>
				<div id="getGold" class="checkin-wrapper">
					<img class="checkin ac-ch" src="http://images.1758.com/image/20161202/open_104818_8a60023d4d3d14655657266f194585e9.png" alt="领取鼓励金">
				</div>
			</div>
			
		</div>
	</section>
	


<section id="footerSection" class="base-footer" style="display:none">
	<div id='base-menu' class="pure-g base-menu" >
	    <div class="pure-u-1-3" >
	    	<a href="/play/index">
	    		
	    			<img  src="http://images.1758.com/game/m/wyxw.png"/>
	    		
	    	</a>
	    </div>
	    <div class="pure-u-1-3" >
	    	<a href="/play/feeds">
	    		
	    			<img  src="http://images.1758.com/game/m/wsqw.png"/>
	    		
	    	</a>
	    </div>
	    <div class="pure-u-1-3 cursor">
	    	<a href="/play/user/home">
	    		
	    			<img  src="http://images.1758.com/game/m/wdy.png"/>
	    		
	    		
	    		<div id="newMessCount" class="f-n-count gone">
		    		<span></span>
		    	</div>
	    		
	    	</a>
	    </div>
	</div>
</section>
<script>
if(hlmy.userTerminal()=="weixin"||hlmy.userTerminal()=="others"){
	document.getElementById("footerSection").style.display = "block";
	//body上增加class
	document.body.className+=" y-tab";
}
</script>




	<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="http://wx.1758.com/static/m/dist/require-2.1.20.min.js" data-main="http://wx.1758.com/static/m/dist/user/js/userhome_1_1_4.js" ></script>
</body>
</html>
